.header {
  background-color: #333;
  padding: 20px 0;
  color: white;
}

.header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.header-logo {
  font-size: 24px;
  font-weight: bold;
}

.header_nav {
  display: flex;
  gap: 5px;
}

.header_nav a {
  color: var(--white);
}
